---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
---

<BaseLayout title="CV | Nguyen Thanh Dat" description="CV Nguyen Thanh Dat">
  <div class="stack gap-20">
    <div class="wrapper stack">
      <h2>Resume</h2>
      <object data="/assets/cv.pdf" height="700"> </object>
    </div>
    <ContactCTA />
  </div>
</BaseLayout>
