---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.order - a.data.order
);
---

<BaseLayout
  title="My Work | Nguyen Thanh Dat"
  description="Learn about Nguyen Thanh Dat's work history"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="See my work history to gain insights into my capabilities as a professional."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
